
body{
  overflow: hidden;
  height:100%;
  width:100%;
}

.portraitContainer{
  height:800px;
  width:800px;
  margin:auto;
  position:relative;
  top:60%;
  z-index:2
}
.neck{
  height:40%;
  width:20%;
  position:absolute;
  left:40%;
  background-color:rgb(180, 140, 134);
  top:50%;
  border-radius: 0% 0% 40% 40%;
  
  
}

.head{
  position:absolute;
  height:40%;
  width:40%;
  border-radius:50%;
  top:40%;
  left:30%;
  background-color:rgb(180, 140, 134);



}

.eyeRow{
  position:absolute;
  top:40%;
  height:10%;
  width:100%;
  

}

.eye{
  position:relative;
  float:left; 
  height:100%;
  width:25%;
  margin-left:15%;
  border-radius:50%;
  background-color:rgb(228, 225, 225);
  border-top:8px black solid;
  border-bottom:3px black solid;
  overflow: hidden;
}

.iris{
  padding-top:70%;
  position:absolute;
  width:70%;
  height:auto;
  background-color:rgb(48, 38, 39);
  border-radius:50%;
  left:15%;
  bottom:-25%;
}

.pupil{
  position:absolute;
  padding-top:30%;
  width:30%;
  height:auto;
  background-color:black;
  border-radius:50%;
  left:35%;
  top:35%;

}

.mouthRow{
  position:absolute;
  width:100%;
  top:75%;
  height:10%;
}

.mouth{
  position:absolute;
  height:100%;
  width:40%;
  left:30%;
  border-radius:50%;
  border-bottom:rgb(68, 41, 41) 10px solid;
  transform:scaleY(.2)scaleX(.5);
  transform-origin:center;
}

.smile{
  animation:smile 4s both;
}

@keyframes smile{
  0%{transform:scaleY(.2)scaleX(.5)}
  25%{transform:scaleY(1)scaleX(.7)translateY(-50%)}
  750%{transform:scaleY(1)scaleX(.7)translateY(-50%)}
 100%{transform:scaleY(.2)scaleX(.5)}
}

.hairRoot0{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:20%;
  z-index:5;

}
.hairRoot1{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:10%;
  left:10%;

}
.hairRoot2{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:2%;
  left:20%;

}
.hairRoot3{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:0%;
  left:30%;

}
.hairRoot4{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-2%;
  left:40%;

}
.hairRoot5{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-2%;
  left:50%;

}
.hairRoot6{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-2%;
  left:60%;

}
.hairRoot7{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:1%;
  left:70%;

}
.hairRoot8{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:10%;
  left:80%;

}
.hairRoot9{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:20%;
  left:90%;

}
.hairRoot10{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:30%;
  left:95%;

}
.hairRoot11{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:10%;
  left:5%;

}
.hairRoot12{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:0%;
  left:15%;

}
.hairRoot13{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-5%;
  left:25%;

}
.hairRoot14{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-8%;
  left:35%;

}
.hairRoot15{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-10%;
  left:45%;

}
.hairRoot16{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-8%;
  left:55%;

}
.hairRoot17{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:-5%;
  left:65%;

}
.hairRoot18{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:0%;
  left:75%;

}
.hairRoot19{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:10%;
  left:85%;

}
.hairRoot20{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:15%;
  left:90%;

}
.hairRoot21{
  position:absolute;
  height:10%;
  width:10%;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:20%;
  left:95%;

}
.hair{
  position:absolute;
  padding-top:95%;
  width:95%;
  z-index:3;
  height:auto;
  background-color:rgb(187, 178, 178);
  border-radius:50%;
  top:95%;
  animation:shiftright 2s infinite


  /* transform:rotate(45deg) */
 

}
/* 
.hairshift{
  animation:shiftleft 2s infinite
}
.hairshift2{
  animation:shiftright 2s infinite
}

@keyframes shiftleft{
  0%{left:0px};
  50%{left:-5px};
  75%{left:10px};
  100%{left:0px};
} */

@keyframes shiftright{
  0%{right:0%};
  50%{right:-15%};
  60%{right:-15%};
  75%{right:15%};
  100%{right:0%};
}

.dress{
  background-color:skyblue;
  position:absolute;
  width:50%;
  height:20%;
  border-radius:40% 40% 70% 70%;
  left:25%;
  top:83%;
  overflow: hidden;
 
}

.background{
  position:absolute;
  height:100%;
  width:100%;
  background-color: papayawhip;
}
.foreground{
  position:absolute;
  height:200%;
  width:100%;
  top:-100%;
  z-index:3;
  pointer-events:none;
}

.mockcolors{

  color:rgb(159, 241, 255)
}

.leaf{
height:10px;
width:20px;
animation:leafSwing 1s infinite;
border-radius:50%;
}

@keyframes leafSwing{
  0%{transform:rotate(15deg)}
  100%{transform:rotate(-15deg)}
}

.leafContainer{
  animation: leafContainer 5s both; 
  position:absolute;
  transform-origin:left;

}

@keyframes leafContainer 
{0%{transform:translate(-200%,0%)}
100%{transform:translate(10000%, 3000%);visibility:hidden}
  
}

.shirtStripe{
  height:2%;
  width:100%;


}

.skyStripe{
  height:1%;
  width:100%;
  animation:stripeSky .5s both;
}

@keyframes stripeSky{
  0%{transform:translateX(-100%)}
  100%{transform:translateX(0%)}

}